 :root {
    --size-hd: 10rem;
    --size-pdl:8rem;
    --size-pdl-tl:6rem;
    --size-pdl-mb:3.6rem;
    --size-pd: 4rem;
    --size-pd-tl: 2rem;
    --size-pd-mb: 1.6rem;


}

// dit me m nho chua
$color-pri: #18315A;
$color-second: #008E8D;
$color-third: #F0FDFE ;

$color-four: #E2E8F0;
$color-five: #F1F5F9;
$color-six: #1E293B;

$color-text: #151515 ;
$color-text2: #8c8284; 
$color-text3: #334155; 


$color-black-2: #444 ;
$color-black-3: #696061;
$color-black: #000000;

$color-white: #ffffff;
$color-white2: #f7f5f5;
$color-gray: #DBDBDB;
$color-gray2: #475569;
$color-gray3: #94A3B8;
$color-gray4: #64748B;




//Responsive
$res-mobile: 1200px;
$res-mobile-min: 1201px;
$mobile: 460px;
