.footer
    //- Content footer
    .container
        .footer-wrap
            .footer-top
                a.footer-logo(href="")
                    +img("logoFT.svg") 
            .footer-center 
                .footer-list.d-wrap 
                    .footer-item.d-item
                        .footer-item-wrap
                            .footer-item-content 
                                p.note-text.cl-text2.fw-7.t-up CÔNG TY TNHH DỊCH VỤ TRUYỀN THÔNG NICA
                                .footer-info 
                                    ul.footer-info-list 
                                        li.footer-info-item 
                                            .footer-info-wrap
                                                p.note-text.cl-text2.fw-7 Địa chỉ:   
                                                a.footer-info-link(href="") 688/57/101 Lê Đức Thọ, Phường 15, Quận Gò Vấp, Thành phố Hồ Chí Minh, Việt Nam
                                        li.footer-info-item 
                                            .footer-info-wrap
                                                p.note-text.cl-text2.fw-7 Số điện thoại:
                                                a.footer-info-link(href="") 0318 191 532
                                        li.footer-info-item 
                                            .footer-info-wrap
                                                p.note-text.cl-text2.fw-7 Email:
                                                a.footer-info-link(href="") admin@nica.vn
                    .footer-item.d-item
                        .footer-item-wrap 
                            .footer-item-content
                                p.note-text.cl-text2.fw-7.t-up GIỚI THIỆU
                                ul.menu-list
                                    -const arrayFTs = [{title:"Về chúng tôi"},{title:"Case Study"},{title:"Dịch vụ"},{title:"Tin tức"},{title:"Liên hệ"}]
                                    each arrayFt , i in arrayFTs
                                        if i == 0
                                            li.menu-item.current-menu-item
                                                a.menu-link(href="") #{arrayFt.title}
                                        else         
                                            li.menu-item 
                                                a.menu-link(href="") #{arrayFt.title}
                    .footer-item.d-item 
                        .footer-item-wrap 
                            .footer-item-content 
                                p.note-text.cl-text2.fw-7.t-up CHÍNH SÁCH
                                ul.menu-list
                                    -const arrayFT2s = [{title:"Điều khoản"},{title:"Chính sách bảo mật"}]
                                    each arrayFt2 , i in arrayFT2s
                                        li.menu-item 
                                            a.menu-link(href="") #{arrayFt2.title}
                    .footer-item.d-item
                        .footer-item-wrap 
                            .footer-item-content 
                                p.note-text.cl-text2.fw-7.t-up KẾT NỐI VỚI CHÚNG TÔI
                                .footer-mxh 
                                    ul.footer-mxh-list 
                                        li.footer-mxh-item 
                                            a.footer-mxh-link(href="")
                                                +img("face.svg")
                                        li.footer-mxh-item 
                                            a.footer-mxh-link(href="")
                                                +img("Twitter.svg")
                                        li.footer-mxh-item 
                                            a.footer-mxh-link(href="")
                                                +img("ins.svg") 
                                        li.footer-mxh-item 
                                            a.footer-mxh-link(href="")
                                                +img("lid.svg") 
                                        li.footer-mxh-item 
                                            a.footer-mxh-link(href="")
                                                +img("ytb.svg") 
                            .footer-alert
                                p.note-sm © 2023 NICA. All rights reserved.
    .footer-bottom 
        .footer-mona 
            p.note-sm © All Right Reserved
            .footer-mona-img
                +img("Signature2.svg")               .



