.links-main
  ul.links-main-list
    li.links-main-item
      a.link-items-phone(href='' target='_blank')
        span.link-items-phone-img
          img(src='./assets/images/phoneLinkMain.svg' alt='')
        span.link-items-phone-text 0969 607 537
    li.links-main-item
      a.link-items(href='' target='_blank')
        img(src='./assets/images/messengerLinkMain.svg' alt='')
    li.links-main-item
      a.link-items(href='' target='_blank')
        img(src='./assets/images/zaloLinkMain.svg' alt='')
  .btn-social
    i.fas.fa-info
  .btn-top.link-top
    .scroll-to-top(href='' target='_blank')
      img(src='./assets/images/arrowUp.svg' alt='')
