.popup_main
    .popup_main--exits 
        i.far.fa-times
    .popup_main--wrap
        .popup_main--lf
            .popup_main--lf-wrap 
                .title-sm2.fw-7.fl-Big-Display.popup_main--num 
                .title-sm3.fl-Anybody.t-up.popup_main--title 
                .note-text.cl-black2.popup_main--text 
        .popup_main--rt 
            .popup_main--rt-wrap
                .popup_main--img 
                    +img("")

.popup_main--modal                    