script(src='./assets/library/jquery/jquery.js')
script(src='./assets/library/swiper/swiper-bundle.min.js')
script(src='./assets/library/aos/aos.js')
script(src='./assets/library/select2/select2.min.js')
script(src='./assets/library/gallery/lightgallery-all.min.js')
script(src='./assets/library/jquery/jquery-migrate.js')
script(src='./assets/library/plyr/plyr.min.js')
script(src='./assets/library/magnific/jquery.magnific-popup.min.js')
script(src='./assets/library/fancybox/fancybox.umd.js')
script(src='./assets/library/countup/jquery.countup.min.js')
script(src='./assets/library/countup/jquery.waypoints.min.js')
script(src='./assets/library/gsap/gsap.min.js')
script(src='./assets/library/gsap/scrollTrigger.min.js')
script(src='./assets/library/intlTel/intlTel.min.js')
script(src='./assets/library/intlTel/intlTel.js')
script(src='./js/main.js' type='module')

