extends layout/layout
block vars
    -title = 'du-an'
    -mainClass = 'page-template pt'
    -bodyClass = ''
    -hdClass = ''

block container
  +breadcrumbs("Trang chủ","","Dự án")
  +banner-main("DỰ ÁN","DỰ ÁN BIỂU TƯỢNG CỦA AKACONS","duanBg.png")
  section.post
    .container 
      +title-sm3("LĨNH VỰC DỰ ÁN")

      .post_filter-list.d-wrap.free-slide
        -const lists = [{title:"Tất cả"},{title:"Xây dựng nhà ở"},{title:"Xây dựng phần thô"},{title:"Sửa chữa nhà ở"},{title:"Cải tạo công trình, nhà ở cũ"},{title:"Thiết kế thi công cổng nhôm đúc"},{title:"Pla Pla"},{title:"Pla Pla"}] 
        .swiper.mySwiper 
          .swiper-wrapper
            each list , i in lists
              if i == 0              
                .swiper-slide.d-item
                  .post_filter-item.actived
                    a.post_filter-link(href) #{list.title}
              else 
                .swiper-slide.d-item
                  .post_filter-item
                    a.post_filter-link(href) #{list.title}                
        +box-navi("fal fa-arrow-left","fal fa-arrow-right")

      .post_select
        .post_select-list.d-wrap 
          .post_select-item.d-item
            select.post_select-js(name='position')
              option(value='it1') Vị trí
              option(value='it2') Miền Bắc
              option(value='it3') Miền Nam
              option(value='it3') Miền Trung
          .post_select-item.d-item
            select.post_select-js(name='year')
              option(value='it1') Năm
              option(value='it2') 2021
              option(value='it3') 2022
              option(value='it3') 2023
          .post_select-item.d-item
            select.post_select-js(name='process')
              option(value='it1') Tiến độ
              option(value='it2') Đã hoàn thành
              option(value='it3') Chưa hoàn thành     

    .post_list.line 
      .container
        .post_list-top
          .post_list-top--wrap 
            a.post_list-top--img(href="") 
              +img("postimg1.png")
            a.post_list-top--title(href="")
              .post_list-top--ic
                i.far.fa-arrow-up
              .note-lg.cl-white.fl-Roboto.fw-7 Công trình cải tạo nhà ở tại TP. Cần Thơ
        .post_list-bottom 
          .post_list-bottom--list
              - const list2s = [{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg2.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg3.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg4.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg5.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg6.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg2.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg3.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg4.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg5.png"},{title:"Công trình xây dựng trọn gói nhà ở TP. Thủ Đức",img:"postimg6.png"}]
              each list2 , i in list2s
                a.post_list-bottom--item(href="")
                  .post_list-bottom--img 
                    +img(list2.img)
                  .note-text.fl-Roboto.fw-7 #{list2.title}
          +pagination





