extends layout/layout
block vars
    -title = 'lien-he'
    -mainClass = 'page-template pt'
    -bodyClass = ''
    -hdClass = ''

block container 
    +banner-main("Tin Tức & Sự Kiện","Trang chủ","","Tin Tức & Sự Kiện")