extends layout/layout
block vars
    -title = 'tuyen-dung-ct'
    -mainClass = 'page-template pt'
    -bodyClass = ''
    -hdClass = ''

block container 
    +breadcrumbs("Trang chủ","Tuyển dụng","Giám sát cơ điện (M&E)")
    section.tuyen_dung--ct.line
        .container 
            .tuyen_dung--ct-wrap.d-wrap 
                .tuyen_dung--ct-lf.d-item 
                    .tuyen_dung--ct-lf-wrap 
                        +title-sm3("GIÁM SÁT CƠ ĐIỆN (M&E)")
                        ul.tuyen_dung--ct-lf-list.d-wrap
                            li.tuyen_dung--ct-lf-item.d-item.d-2 
                                .tuyen_dung--ct-lf-box
                                    .tuyen_dung--ct-lf-ic 
                                        +img("tdctic1.svg")
                                    .note-text TP. Hồ Chí Minh
                            li.tuyen_dung--ct-lf-item.d-item.d-2 
                                .tuyen_dung--ct-lf-box
                                    .tuyen_dung--ct-lf-ic 
                                        +img("tdctic2.svg")
                                    .note-text 
                                        strong VND 
                                        |20.000.000 - 25.000.000
                            li.tuyen_dung--ct-lf-item.d-item.d-2 
                                .tuyen_dung--ct-lf-box
                                    .tuyen_dung--ct-lf-ic 
                                        +img("tdctic3.svg")
                                    .note-text Toàn thời gian
                            li.tuyen_dung--ct-lf-item.d-item.d-2 
                                .tuyen_dung--ct-lf-box
                                    .tuyen_dung--ct-lf-ic 
                                        +img("tdctic4.svg")
                                    .note-text Số lượng: 01
                        .tuyen_dung--ct-lf-content 
                            .note-lg.fw-7.fl-Anybody.mb-8.t-up MÔ TẢ CÔNG VIỆC
                            .note-text.cl-black2.mb-16 Thực hiện các yêu cầu, lệnh gia công thành phẩm: Dây nguồn, dây kết nối Nhận vật tư hoàn thiện: vỏ hộp, tem nhãn, ốc bắt Thực hiện hoàn thiện thiết bị: đóng vỏ bảo vệ, dán tem nhận diện, dán tem niêm phong, đóng thùng thiết bị… Hỗ trợ công việc chuẩn bị cho kiểm thử hàng hóa: chuẩn bị BTP, lắp ráp các BTP
                            .note-lg.fw-7.fl-Anybody.mb-8.t-up  YÊU CẦU CÔNG VIỆC
                            .note-text.cl-black2.mb-16 Nam, Tốt nghiệp trung học phổ thông trở lên Ưu tiên những người có kinh nghiệm làm việc trên các dây chuyền, công đoạn lắp ráp, hoàn thiện vỏ sản phẩm Trung thực, cẩn thận, trách nhiệm, có đạo đức nghề nghiệp.
                            .note-lg.fw-7.fl-Anybody.mb-8.t-up QUYỀN LỢI
                            .note-text.cl-black2 Thu nhập: Thỏa thuận khi trao đổi Thưởng 25% Lương cơ bản hàng tháng. Thưởng vượt định mức hàng tháng (theo năng lực). Phụ cấp ăn trưa. Làm thêm giờ hoặc làm ngày tăng cường/ lễ tết được hưởng từ 1,5 đến 3 lần lương. Xét tăng lương 2 lần/năm theo năng lực. Thưởng Lương tháng 13, Thưởng thành tích cuối năm, Thưởng tết dương lịch và các ngày lễ tết, các phúc lợi như sinh nhật, cưới hỏi, ốm đau, Tham gia BHXH, BHYT theo quy định của nhà nước. Khám sức khỏe toàn diện định kỳ. Du lịch nghỉ mát hàng năm. Được tham gia các chương trình đào tạo Môi trường năng động cho phép phát huy tối đa khả năng và tính sáng tạo trong công việc. Các CLB : bóng bàn, Yoga, đá bóng, Game E-Sport.
                        +btn("Gửi thông tin","button","far fa-arrow-right","popup-btn-td")       
                .tuyen_dung--ct-rt.d-item
                    .tuyen_dung--ct-rt-wrap
                        .tuyen_dung--ct-rt-top 
                            .tuyen_dung--ct-rt-img 
                                +img("tdctbg.png")
                        .tuyen_dung--ct-rt-bottom
                            .title-sm2.fl-Big-Display.fw-7 Việc làm đang tuyển
                            .tuyen_dung--ct-rt-list
                                 -var mgs = [{title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"},{title:"GIÁM SÁT CƠ ĐIỆN (M&E)",note:"Khối kinh doanh"}]
                                    each mg , i in mgs 
                                        .tuyen_dung--ct-rt-item
                                            a(href="#").manh_ghep--item
                                                span.manh_ghep--item-wrap 
                                                    span.manh_ghep--item-rt
                                                        span.manh_ghep--item-rt-top 
                                                            span.manh_ghep--item-rt-top-lf 
                                                                h4.note-lg.fl-Anybody.fw-7 #{mg.title}
                                                                p.note-text.cl-second #{mg.note}
                                                            span.manh_ghep--item-rt-top-rt 
                                                                span.btn-al-ic 
                                                                    i.far.fa-arrow-right
                                                        span.manh_ghep--item-rt-bottom 
                                                                ul.manh_ghep--item-rt-bottom-list 
                                                                    li.manh_ghep--item-rt-bottom-item 
                                                                        span.manh_ghep--item-rt-bottom-ic
                                                                            +img("mgic1.svg")
                                                                        span.note-text TP. Hồ Chí Minh
                                                                    li.manh_ghep--item-rt-bottom-item 
                                                                        span.manh_ghep--item-rt-bottom-ic
                                                                            +img("mgic2.svg")
                                                                        span.note-text 
                                                                            strong VND 
                                                                            | 20.000.000 - 25.000.000
                                                                    li.manh_ghep--item-rt-bottom-item 
                                                                        span.manh_ghep--item-rt-bottom-ic
                                                                            +img("mgic3.svg")
                                                                        span.note-text Toàn thời gian
    section.contact.sec.line
        .container
            .contact_wrap.d-wrap 
                .contact_lf.d-item.d-2 
                    .contact_lf-wrap 
                        .contact_lf-top 
                            +title-sm3("LIÊN HỆ VỚI CHÚNG TÔI")
                            .note-text.cl-black2 Chúng tôi luôn sẵn sàng lắng nghe và giải đáp mọi thắc mắc, ý kiến đóng góp hoặc yêu cầu của bạn. Để chúng tôi có thể hỗ trợ bạn một cách tốt nhất, vui lòng điền vào biểu mẫu liên hệ dưới đây:
                        .contact_lf-bottom 
                             h2.note-lg.fw-7.t-up.fl-Anybody CÔNG TY CỔ PHẦN XÂY DỰNG AKA
                             .footer-info 
                                ul.footer-info-list 
                                    li.footer-info-item 
                                        .footer-info-ic
                                            +img("location2.svg")
                                        .footer-info-wrap 
                                            a.footer-info-link(href="")  Biệt thự R12.15A, KĐT The Eden Rose, H. Thanh Trì, Hà Nội
                                    li.footer-info-item 
                                        .footer-info-ic
                                            +img("mail2.svg")
                                        .footer-info-wrap 
                                            a.footer-info-link(href="") lienhe.aka@gmail.com
                                    li.footer-info-item 
                                        .footer-info-ic
                                            +img("phone2.svg")
                                        .footer-info-wrap 
                                            a.footer-info-link(href="") 0945 555 017
                                            span.line
                                            a.footer-info-link(href="") 0966180018   
                .contact_rt.d-item.d-2 
                    .contact_rt-wrap
                        form(action="") 
                            .contact_rt-list 
                                .contact_rt-item 
                                    .form-item.custom 
                                        label.form-item-lb(for="name") 
                                            |Họ và tên 
                                            strong *
                                        input(type="text" placeholder="Họ và tên của bạn" id="name").form-item-ip
                                .contact_rt-item 
                                    .form-item.custom 
                                        label.form-item-lb(for="email") 
                                            |Email 
                                            strong *
                                        input(type="text" placeholder="Email của bạn" id="email").form-item-ip
                                .contact_rt-item 
                                    .form-item.custom 
                                        label.form-item-lb(for="phone") 
                                            |Điện thoại 
                                            strong *
                                        input(type="text" placeholder="Số điện thoại của bạn" id="phone").form-item-ip
                                .contact_rt-item        
                                    .form-item.custom 
                                            label.form-item-lb 
                                                |Nội dung 
                                            textarea(placeholder="Nội dung yêu cầu" value="").form-item-tx 
                        +btn("Gửi thông tin","button","far fa-arrow-right","")                     