.form-item {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    height: 100%;
    justify-content: space-between;

    &.custom {
        .form-item-lb {
            font-weight: 700;
            @include fz-16;
            color: #052143;

            strong {
                color: #ec0015;
            }

            &.actived {
                color: $color-second;
            }
        }

        .form-item-ip {
            border-color: $color-pri;
        }

        .select2-container--default .select2-selection--single {
            background: #f9f6ee;
        }

        .form-item-tx {
            border: 0.1rem solid $color-pri;
            transition: all 0.3s ease;
        }
    }

    &-text {
        color: $color-black;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &.form-item-upload {
        input {
            display: none;
        }
    }

    &-upload {
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        height: 4.8rem;
        padding: 1.4rem 1.6rem;
        // border-radius: 0.4rem;
        border: 0.1rem solid $color-gray !important;
        color: $color-black-2;

        position: relative;


        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 1.6rem;
            transform: translateY(-50%);
            background-image: url(../assets/images/file.svg);
            width: 2rem;
            height: 2rem;
            background-repeat: no-repeat;
            filter: brightness(0) saturate(100%) invert(23%) sepia(4%) saturate(9%) hue-rotate(352deg) brightness(105%) contrast(90%);
        }

        input {
            display: none;
        }
    }

    &-lb {
        font-weight: 700;
        color: $color-white;
        transition: all 0.3s linear;
        font-size: 1.6rem;

        strong {
            color: #dc0d0d;
        }
    }

    &-ip {
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        height: 4.8rem;
        padding: 1.4rem 1.6rem;
        // border-radius: 0.4rem;
        border: 0.1rem solid $color-gray !important;
        color: $color-black-2;
        @include fz-14;
        position: relative;
        transition: all 0.3s linear;

        &::placeholder {
            color: #939393;
            @include fz-14;
        }

        &:focus {
            border-color: $color-pri !important;
        }
    }

    &-tx {
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        height: 12rem;
        padding: 1.4rem 1.6rem;
        // border-radius: 0.8rem;
        color: $color-black-2;
        @include fz-14;
        position: relative;
        border: 0.1rem solid $color-gray !important;
        transition: all 0.3s linear;

        &::placeholder {
            color: #939393;
            @include fz-14;
        }

        &:focus {
            border-color: $color-pri !important;
        }

        textarea {
            width: 100%;
            height: 100%;
        }
    }

    .iti__country-list {
        // width: 800%;
        // width: 100%;
        overflow-x: hidden;
        z-index: 6;
        border-radius: 0.8rem;
    }

    .intl-tel-input {
        width: 100%;
    }

    .iti {
        width: 100%;
    }
}

.popup_main {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 55%;
    height: auto;
    transform: translate(-50%, -50%) scale(0);
    background: $color-white;
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.5s linear;
    padding-bottom: 2rem;

    @media screen and (max-width: 1400px) {
        width: 60%;
    }

    @media screen and (max-width: 1300px) {
        width: 65%;
    }

    @media screen and (max-width: 1200px) {
        width: 70%;
    }

    @media screen and (max-width: 1024px) {
        width: 75%;
    }

    @media screen and (max-width: 900px) {
        width: 85%;
    }

    @media screen and (max-width: 800px) {
        width: 90%;
    }

    @media screen and (max-width: 700px) {
        width: 95%;
    }

    &.showed {
        opacity: 1;
        visibility: visible;
        pointer-events: visible;
        transform: translate(-50%, -50%) scale(1);

        &~.popup_main--modal {
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
        }
    }

    &--wrap {
        display: flex;
        // column-gap: 1rem;
        background: $color-white;

        @media screen and (max-width: 600px) {
            flex-direction: column;
            max-height: 55vh;
            overflow-y: auto;
            row-gap: 2rem;
        }
    }

    &--exits {
        width: 4rem;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: $color-pri;
        margin-left: auto;
        cursor: pointer;
        transition: all 0.3s linear;

        @include hover {
            i {
                color: $color-second;
                font-size: 2.4rem;
            }
        }

        i {
            color: $color-pri;
            font-size: 2.4rem;
        }
    }

    &--lf {
        width: 60%;
        max-height: 55vh;
        overflow-y: auto;

        @media screen and (max-width: 1200px) {
            width: 55%;
        }

        @media screen and (max-width: 600px) {
            width: 100%;
            max-height: unset;
            overflow-y: unset;
        }

        &-wrap {
            padding: 0rem 1.6rem;

            @media screen and (max-width: 1200px) {
                padding: 0rem 1.4rem;
            }

            @media screen and (max-width: 600px) {}

            @media screen and (max-width: 460px) {
                padding: 0 1.2rem;
            }

            .title-sm2 {
                margin-bottom: 0.8rem;
            }

            .title-sm3 {
                margin-bottom: 1.6rem;

                @media screen and (max-width: 1200px) {
                    margin-bottom: 1.2rem;
                }
            }

            .note-text {
                // max-height: 25vh;
                // overflow-y: auto;

                // @media screen and (max-width: 600px) {
                //     max-height:unset;
                // }
            }
        }
    }

    &--img {
        padding-top: calc(100% * 430 / 363);
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        display: block;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--rt {
        width: 100%;
        flex: 1;

        &-wrap {
            padding: 0 1.6rem;
            height: 100%;

            @media screen and (max-width: 1200px) {
                padding: 0 1.2rem;
            }
        }
    }
}

.popup_main--modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2999;
    background: rgba(24, 49, 90, 0.6);
    backdrop-filter: blur(1.5rem);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: all 0.5s linear;
}

.contact {
    padding-top: var(--size-pd);
    padding-bottom: var(--size-pd);

    @media screen and (max-width: 1200px) {
        padding-top: var(--size-pd-tl);
        padding-bottom: var(--size-pd-tl);
    }

    @media screen and (max-width: 600px) {
        padding-top: var(--size-pd-mb);
        padding-bottom: var(--size-pd-mb);
    }

    &.sec {
        padding-top: var(--size-pdl);
        padding-bottom: var(--size-pdl);

        @media screen and (max-width:1200px) {
            padding-top: var(--size-pd);
            padding-bottom: var(--size-pdl-tl);
        }


        @media screen and (max-width:600px) {
            padding-top: var(--size-pd-mb);
            padding-bottom: var(--size-pdl-mb);
        }
    }

    &_lf {
        width: calc(100% * 5 / 12);


        @media screen and (max-width: 768px) {
            width: 100%;
        }

        &-wrap {
            background-color: #FBEAE9;
            padding: 4.8rem;
            border-radius: 1.2rem;

        }

        &-top {
            margin-bottom: 4.8rem;
        }

        &-bottom {
            display: flex;
            flex-direction: column;
            row-gap: 2.4rem;

            @media screen and (max-width:600px) {
                row-gap: 1.2rem;
            }

            .footer-info-ic {
                img {
                    filter: brightness(0) saturate(100%) invert(32%) sepia(50%) saturate(2221%) hue-rotate(152deg) brightness(100%) contrast(104%);
                }
            }

            .footer-info-item .line {
                width: 3%;
            }

            .footer-info-item .line::before {
                background: $color-text;
            }

            .footer-info-link {
                color: $color-black-2;

                @include hover {
                    color: $color-second;
                }
            }
        }
    }

    &_rt {
        flex: 1;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        &-wrap {
            padding: 4rem;
            border-radius: 1.2rem;
            border: 0.1rem solid #E0E0E0;

            .btn {
                flex-direction: row-reverse;
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 1.2rem;
            margin-bottom: 4rem;

            @media screen and (max-width: 1200px) {
                margin-bottom: 3rem;
            }

            @media screen and (max-width: 460px) {
                margin-bottom: 2rem;
            }
        }
    }

    &_wrap {
        @media screen and (max-width: 768px) {
            flex-direction: column;
            row-gap: 3rem;
        }

        @media screen and (max-width: 460px) {
            flex-direction: column;
            row-gap: 2rem;
        }
    }

    &-tt {
        @include fz-36;
        line-height: 1.4;
    }
}

.ques {
    padding-top: var(--size-pd);
    padding-bottom: var(--size-pd);
    position: relative;
    overflow: hidden;

    @media screen and (max-width: 1200px) {
        padding-top: var(--size-pd-tl);
        padding-bottom: var(--size-pd-tl);
    }

    @media screen and (max-width: 600px) {
        padding-top: var(--size-pd-mb);
        padding-bottom: var(--size-pd-mb);
    }

    &.line {
        &.showed {
            &::before {
                width: 100%;
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0.1rem;
        background: $color-text;
        top: 0;
        left: 0;
        transition: all 2s linear;

        @media screen and (max-width: 1200px) {
            width: 100%;
        }
    }

    &_wrap {
        align-items: center;

        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
            row-gap: 3rem;
        }

        @media screen and (max-width: 460px) {
            flex-direction: column-reverse;
            row-gap: 2rem;
        }
    }

    &_lf {
        @media screen and (max-width: 768px) {
            width: 100%;
        }

        &--wrap {}

        &--list {
            display: flex;
            flex-direction: column;
            row-gap: 0.8rem;
        }

        &--item {
            border: 0.1rem solid transparent;
            transition: all 0.5s linear;

            &.actived {
                border-color: $color-text;

                .ques_lf--item-title {
                    .note-text {
                        color: $color-second;
                    }

                    .ic {
                        i {
                            transform: rotate(-180deg);
                            color: $color-second;
                        }
                    }
                }
            }

            &-title {
                padding: 1.2rem 2rem;
                display: flex;
                justify-content: space-between;
                border: 0.1rem solid $color-gray;
                column-gap: 1.2rem;
                cursor: pointer;

                @media screen and (max-width: 768px) {
                    padding: 1.2rem 1.6rem;

                }

                @media screen and (max-width: 460px) {
                    padding: 1.2rem 1.4rem;

                }

                .ic {
                    width: 1.6rem;
                    // height: 1.6rem;
                    display: flex;
                    align-items: start;
                    justify-content: center;
                    transform: translateY(0.3rem);

                    i {
                        font-size: 1.6rem;
                        transition: all 0.5s linear;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        // &::before{
                        //     height: 2rem;
                        // }
                    }
                }

                .note-text {
                    transition: all 0.3s linear;
                }
            }

            &-content {
                padding: 1.2rem 2rem;
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                display: none;
            }
        }
    }

    &_rt {
        @media screen and (max-width: 768px) {
            width: 100%;
        }

        &--wrap {
            display: flex;
            justify-content: end;
            width: 100%;

            @media screen and (max-width: 768px) {
                justify-content: start;
            }
        }

        &--box {
            @media screen and (max-width: 768px) {
                max-width: 40rem;
                margin-left: auto;
                margin-right: auto;
            }

            @media screen and (max-width: 460px) {
                max-width: 30rem;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &--img {
            padding-top: calc(100% * 238 / 400);
            width: 100%;
            position: relative;
            overflow: hidden;



            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: translate(-50%, -50%);
            }
        }

        &--content {
            max-width: 48rem;
            width: 100%;

            @media screen and (max-width: 768px) {
                width: 100%;
                max-width: unset;
            }

            .title-sm3 {
                margin-bottom: 1.6rem;

                @media screen and (max-width: 768px) {
                    margin-bottom: 1.2rem;

                }


                @media screen and (max-width: 460px) {
                    margin-bottom: 0.6rem;

                }
            }

            .note-text {
                margin-bottom: 4rem;

                @media screen and (max-width: 768px) {
                    margin-bottom: 2rem;

                }
            }
        }
    }
}

.contact_map {
    padding-top: var(--size-pd);
    padding-bottom: var(--size-pdl);
    position: relative;
    overflow: hidden;

    @media screen and (max-width:1200px) {
        padding-top: var(--size-pd-tl);
        padding-bottom: var(--size-pdl-tl);

    }

    @media screen and (max-width:600px) {
        padding-top: var(--size-pd-mb);
        padding-bottom: var(--size-pdl-mb);

    }

    &--wrap {
        padding-top: calc(100% * 600 / 1200);
        width: 100%;
        position: relative;
        overflow: hidden;
        border: 0.5rem solid $color-pri;

        @media screen and (max-width:460px) {
            padding-top: 100%;
        }

        iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.line {
        &.showed {
            &::before {
                width: 100%;
            }
        }
    }

    .title-sm3 {
        margin-bottom: 4rem;

        @media screen and (max-width: 1200px) {
            margin-bottom: 2rem;
        }

        @media screen and (max-width: 600px) {
            margin-bottom: 2rem;
        }

        @media screen and (max-width: 460px) {
            margin-bottom: 1.6rem;
        }
    }
}


.popup-form {
    border-radius: 2rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    // height: 100vh;
    z-index: 3000;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    // justify-content: center;
    transition: all 0.3s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;



    @media screen and (max-width: 1200px) {
        width: 70%;
    }

    @media screen and (max-width: 800px) {
        width: 85%;
    }

    @media screen and (max-width: 600px) {
        width: 95%;
    }

    &-wrap {
        width: 100%;
    }

    .btn {
        margin: 1.6rem auto 0;
    }

    &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.6rem 4rem;
        background: $color-second;

        @media screen and (max-width: 1200px) {
            padding: 1.6rem 2rem;
        }

        @media screen and (max-width: 600px) {
            padding: 1.6rem 1.2rem;
        }

        @media screen and (max-width: 460px) {
            padding: 1.2rem;
        }
    }

    &.showed {
        opacity: 1;
        visibility: visible;
        pointer-events: visible;

        &~.popup-form-modal {
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
        }
    }

    &-ex {
        // position: absolute;
        // top: 1.5rem;
        // right: 2rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 100%;

        i {
            font-size: 3rem;
            color: $color-white;

            @media screen and (max-width: 600px) {
                font-size: 2.4rem;
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding-right: 0.5rem;
        overflow-y: auto;
        overflow-x: hidden;
        // margin-bottom: 3rem;
        padding-bottom: 1rem;
        max-height: 70vh;

        @media screen and (max-width: 600px) {
            height: 50vh;
        }
    }

    &-box {
        padding: 4.2rem 3rem;
        background: $color-white;

        @media screen and (max-width: 1200px) {
            padding: 4rem 2rem;
        }

        @media screen and (max-width: 600px) {
            padding: 3rem 1.2rem;
        }

        @media screen and (max-width: 460px) {
            padding: 2rem 1.2rem;
        }
    }

    &-list {
        display: flex;

        row-gap: 2rem;

        @media screen and (max-width:460px) {
            row-gap: 1.2rem
        }
    }

    &-item {
        width: 50%;

        @media screen and (max-width: 460px) {
            width: 100%;
        }

        &:nth-child(7) {
            width: 100%;
        }

        &:last-child {
            width: 100%;
        }
    }

    .title-md {
        margin-bottom: 2rem;
    }

    .form-item-lb {
        color: $color-black;
    }

    .form-item-ip {
        border: 0.1rem solid $color-pri;
    }
}

.popup-form-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2999;
    background: rgba(24, 49, 90, 0.6);
    backdrop-filter: blur(1.5rem);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: all 0.5s linear;
}