@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-Black.eot');
    src: url('AnybodyCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-Black.woff2') format('woff2'),
        url('AnybodyCondensed-Black.woff') format('woff'),
        url('AnybodyCondensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-Bold.eot');
    src: url('AnybodyCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-Bold.woff2') format('woff2'),
        url('AnybodyCondensed-Bold.woff') format('woff'),
        url('AnybodyCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-BlackItalic.eot');
    src: url('AnybodyCondensed-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-BlackItalic.woff2') format('woff2'),
        url('AnybodyCondensed-BlackItalic.woff') format('woff'),
        url('AnybodyCondensed-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-BoldItalic.eot');
    src: url('AnybodyCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-BoldItalic.woff2') format('woff2'),
        url('AnybodyCondensed-BoldItalic.woff') format('woff'),
        url('AnybodyCondensed-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-ExtraBold.eot');
    src: url('AnybodyCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-ExtraBold.woff2') format('woff2'),
        url('AnybodyCondensed-ExtraBold.woff') format('woff'),
        url('AnybodyCondensed-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-ExtraBoldItalic.eot');
    src: url('AnybodyCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('AnybodyCondensed-ExtraBoldItalic.woff') format('woff'),
        url('AnybodyCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-ExtraLight.eot');
    src: url('AnybodyCondensed-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-ExtraLight.woff2') format('woff2'),
        url('AnybodyCondensed-ExtraLight.woff') format('woff'),
        url('AnybodyCondensed-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-ExtraLightItalic.eot');
    src: url('AnybodyCondensed-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-ExtraLightItalic.woff2') format('woff2'),
        url('AnybodyCondensed-ExtraLightItalic.woff') format('woff'),
        url('AnybodyCondensed-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-Italic.eot');
    src: url('AnybodyCondensed-Italic.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-Italic.woff2') format('woff2'),
        url('AnybodyCondensed-Italic.woff') format('woff'),
        url('AnybodyCondensed-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-Light.eot');
    src: url('AnybodyCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-Light.woff2') format('woff2'),
        url('AnybodyCondensed-Light.woff') format('woff'),
        url('AnybodyCondensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-LightItalic.eot');
    src: url('AnybodyCondensed-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-LightItalic.woff2') format('woff2'),
        url('AnybodyCondensed-LightItalic.woff') format('woff'),
        url('AnybodyCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-MediumItalic.eot');
    src: url('AnybodyCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-MediumItalic.woff2') format('woff2'),
        url('AnybodyCondensed-MediumItalic.woff') format('woff'),
        url('AnybodyCondensed-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-Medium.eot');
    src: url('AnybodyCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-Medium.woff2') format('woff2'),
        url('AnybodyCondensed-Medium.woff') format('woff'),
        url('AnybodyCondensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-Regular.eot');
    src: url('AnybodyCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-Regular.woff2') format('woff2'),
        url('AnybodyCondensed-Regular.woff') format('woff'),
        url('AnybodyCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-SemiBoldItalic.eot');
    src: url('AnybodyCondensed-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-SemiBoldItalic.woff2') format('woff2'),
        url('AnybodyCondensed-SemiBoldItalic.woff') format('woff'),
        url('AnybodyCondensed-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-SemiBold.eot');
    src: url('AnybodyCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-SemiBold.woff2') format('woff2'),
        url('AnybodyCondensed-SemiBold.woff') format('woff'),
        url('AnybodyCondensed-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-ThinItalic.eot');
    src: url('AnybodyCondensed-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-ThinItalic.woff2') format('woff2'),
        url('AnybodyCondensed-ThinItalic.woff') format('woff'),
        url('AnybodyCondensed-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Condensed';
    src: url('AnybodyCondensed-Thin.eot');
    src: url('AnybodyCondensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('AnybodyCondensed-Thin.woff2') format('woff2'),
        url('AnybodyCondensed-Thin.woff') format('woff'),
        url('AnybodyCondensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Expanded';
    src: url('AnybodyExpanded-Black.eot');
    src: url('AnybodyExpanded-Black.eot?#iefix') format('embedded-opentype'),
        url('AnybodyExpanded-Black.woff2') format('woff2'),
        url('AnybodyExpanded-Black.woff') format('woff'),
        url('AnybodyExpanded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Expanded';
    src: url('AnybodyExpanded-BlackItalic.eot');
    src: url('AnybodyExpanded-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('AnybodyExpanded-BlackItalic.woff2') format('woff2'),
        url('AnybodyExpanded-BlackItalic.woff') format('woff'),
        url('AnybodyExpanded-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Expanded';
    src: url('AnybodyExpanded-Bold.eot');
    src: url('AnybodyExpanded-Bold.eot?#iefix') format('embedded-opentype'),
        url('AnybodyExpanded-Bold.woff2') format('woff2'),
        url('AnybodyExpanded-Bold.woff') format('woff'),
        url('AnybodyExpanded-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Expanded';
    src: url('AnybodyExpanded-BoldItalic.eot');
    src: url('AnybodyExpanded-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AnybodyExpanded-BoldItalic.woff2') format('woff2'),
        url('AnybodyExpanded-BoldItalic.woff') format('woff'),
        url('AnybodyExpanded-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Expanded';
    src: url('AnybodyExpanded-ExtraBold.eot');
    src: url('AnybodyExpanded-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('AnybodyExpanded-ExtraBold.woff2') format('woff2'),
        url('AnybodyExpanded-ExtraBold.woff') format('woff'),
        url('AnybodyExpanded-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Expanded';
    src: url('AnybodyExpanded-ExtraBoldItalic.eot');
    src: url('AnybodyExpanded-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('AnybodyExpanded-ExtraBoldItalic.woff2') format('woff2'),
        url('AnybodyExpanded-ExtraBoldItalic.woff') format('woff'),
        url('AnybodyExpanded-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Expanded';
    src: url('AnybodyExpanded-ExtraLight.eot');
    src: url('AnybodyExpanded-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('AnybodyExpanded-ExtraLight.woff2') format('woff2'),
        url('AnybodyExpanded-ExtraLight.woff') format('woff'),
        url('AnybodyExpanded-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Expanded';
    src: url('AnybodyExpanded-ExtraLightItalic.eot');
    src: url('AnybodyExpanded-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('AnybodyExpanded-ExtraLightItalic.woff2') format('woff2'),
        url('AnybodyExpanded-ExtraLightItalic.woff') format('woff'),
        url('AnybodyExpanded-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Expanded';
    src: url('AnybodyExpanded-Italic.eot');
    src: url('AnybodyExpanded-Italic.eot?#iefix') format('embedded-opentype'),
        url('AnybodyExpanded-Italic.woff2') format('woff2'),
        url('AnybodyExpanded-Italic.woff') format('woff'),
        url('AnybodyExpanded-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Expanded';
    src: url('AnybodyExpanded-Light.eot');
    src: url('AnybodyExpanded-Light.eot?#iefix') format('embedded-opentype'),
        url('AnybodyExpanded-Light.woff2') format('woff2'),
        url('AnybodyExpanded-Light.woff') format('woff'),
        url('AnybodyExpanded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Expanded';
    src: url('AnybodyExpanded-LightItalic.eot');
    src: url('AnybodyExpanded-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('AnybodyExpanded-LightItalic.woff2') format('woff2'),
        url('AnybodyExpanded-LightItalic.woff') format('woff'),
        url('AnybodyExpanded-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anybody Expanded';
    src: url('AnybodyExpanded-Medium.eot');
    src: url('AnybodyExpanded-Medium.eot?#iefix') format('embedded-opentype'),
        url('AnybodyExpanded-Medium.woff2') format('woff2'),
        url('AnybodyExpanded-Medium.woff') format('woff'),
        url('AnybodyExpanded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

